html:not(#destin) {
    height: 100%;
    background-color: rgba(22, 27, 40, 0.917);
    background-image: linear-gradient(to top, rgb(121, 24, 40), rgb(4, 4, 16));
}
#destin {
    height: 100%;
    background-color: rgba(22, 27, 40, 0.917);
    /* background-image: linear-gradient(to top, rgb(24, 71, 121), rgb(51, 148, 200)); */
}
#simple, p {
    color: beige;
}
.heading {
    color: rgba(232, 191, 159, 0.772);
    width: fit-content;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    margin: auto;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 15px;
}

#form-body {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    transform: translate(0%, 25%);
    /* margin: auto; */
    display: flex;
    align-items: center;
    justify-content: center;

    width: fit-content;
    height: 50vh;
    padding: 25px;
    border-radius: 15px;
    background-color: rgba(37, 94, 130, 0.696);
    background-image: linear-gradient(to top, rgb(135, 27, 61), rgb(16, 4, 16));
    box-shadow: 3.5px 2px rgba(218, 67, 170, 0.776);
}
#destin-out {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    transform: translate(0%, 25%);

    display: grid;
    grid-template-rows: auto;
    align-items: center;
    justify-content: center;

    height: fit-content;
    /* height: 50vh; */
    width: fit-content;

    /* border: 1px solid blanchedalmond; */
    background-color: rgba(45, 170, 228, 0.224);
    border-radius: 10px;
    box-shadow: 2.5px 2px rgba(36, 79, 188, 0.29);
    padding: 25px;
}
textarea {
    resize: none;
}
#welcome {
    color: aliceblue;
}
br{
    margin-top: 15px;
    margin-bottom: 15px;
}
label {
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
}
.form-input > input, textarea, select, button {
    width: 99%;
    background-color: rgba(255, 228, 196, 0.541);
    border: none;
    border-radius: 5px;
}
input, select {
    height: 35px;
    color: aliceblue;
    font-size: 1.2rem;
}
.submit {
    display: flex;
    align-items: center;
    justify-content: center;
}
button {
    margin-top: 10px;
    background-color: rgba(172, 255, 47, 0.772);
    height: 25px;
    width: 125px;
    border-radius: 15px;

}